@background: white;
@operators-background: #fafafa;
@border: #d3d3d3;
@border-bottom: #EBEBEB;
@seperator: #EBEBEB;
@insert: #009bd2;
@hover: #DDDDDD;
@highlight: #ceae1e;
@selected: #EBEBEB;
@focus: dodgerblue;
@tooltip-background: #555;
@tooltip: white;
@tooltip-border: #555;
@toggle-on: #697e0c;
@toggle-off: #af0202;
@selectable: #095F95;
@error: #da0000;
@hover-border: '#BEBEBE';

@primary: black;
@secondary: white;

@box-shaddow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);

@font-family: Frutiger, Arial, Helvetica, Sans-serif;
@line-height-compact: normal;
@font-size-compact: 0.625rem;
@line-height: normal;
@font-size: 0.75rem;
@line-height-large: normal;
@font-size-large: 0.875rem;

@height-compact: 24px;
@height: 30px;
@height-large: 36px;

@pill-height-compact: 18px;
@pill-height: 22px;
@pill-height-large: 26px;